<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>J-Cubed Project Status Report</title>
        body { padding-top: 70px; }
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                  <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">Team Members</span>
                    <span class="icon-bar">Burn Down Chart</span>
                    <span class="icon-bar">Sprint Completed Stories</span>
                    <span class="icon-bar">Product Backlog</span>
                  </button>-->
                  <a class="navbar-brand" href="#team-name">J-Cubed</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li onclick="changeClass()" class="" id="nav-tm"><a href="#members"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Team Members</a></li>
                    <li onclick="changeClass()" class="" id="nav-bdc"><a href="#burn-down-chart"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Burn Down Chart</a></li>
                    <li onclick="changeClass()" class="" id="nav-scs"><a href="#sprint-completed-stories"><span class="glyphicon glyphicon-ok-circle"></span> Sprint Completed Stories</a></li>
                    <li onclick="changeClass()" class="" id="nav-pb"><a href="#product-backlog"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Product Backlog</a></li>
                    <li onclick="changeClass()" class="" id="nav-pb"><a href="#project-retrospective"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Project Retrospective</a></li>
                    <li onclick="changeClass()" class="" id="nav-pb"><a href="#traffic-analysis"><span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Traffic Analysis</a></li>
                  </ul>
                </div>
            </div>
        </nav>
        <div class="page-header" id="team-name">
            <h1>J-Cubed</h1>
            <h4>Project Status Report</h4>
            <p>February 18, 2015</p>
        </div>
        <div class="panel panel-default" id="members">
            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Team Members</div>
            <div class="panel-body">
                <p>
                Ebreo, Jayson "Jaze": <a href="mailto:jaze.ebreo@yale.edu">jaze.ebreo@yale.edu</a>
                </p>
                <p>
                Jiang, Tao "Tony": <a href="mailto:tao.jiang@yale.edu">tao.jiang@yale.edu</a>
                </p>
                <p>
                Wong, Joanne: <a href="mailto:joanne.wong@yale.edu">joanne.wong@yale.edu</a>
                </p>
            </div>
        </div>
        <div class="panel panel-default" id="burn-down-chart">
            <div class="panel-heading"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Burn Down Chart</div>
            <div class="panel-body">
                <img src="http://s17.postimg.org/3pudfz61r/burn_down_chart_sprint_3.png"/>
                <p>All story points (and corresponding stories) burned down!</p>
            </div>
        </div>
        <div class="panel panel-default" id="sprint-completed-stories">
            <div class="panel-heading"><span class="glyphicon glyphicon-ok-circle"></span> Sprint Completed Stories</div>
            <div class="panel-body">
                <p>The following stories have been completed since last sprint:</p>
                <ul>
                    <li>Users can now view the About page</li>
                    <li>Users can now see details of events in their own pages</li>
                    <li>Users can see event title, image, location, date and time, and attendees</li>
                    <li>Users can submit their email for RSVP and sites validates if it's a Yale address or not</li>
                    <li>Admin can track user flow through Google Analytics</li>
                    <li>RSVP experiment set-up</li>
                    <li>Donate/Support experiment set-up</li>
                </ul>
                <p>We had a hard time figuring out the Google Analytics portion of the project despite our initial belief that it was going to be easy. Finally got it to work after having seen instructors do it in class.</p>
                <p>That said, we are hesitant to make conclusions based on our experiments given the short time that they have been running.</p>
                <p>Our initial plans to devote the last sprint to making the site more aesthetically pleasing had to be put on the back burner, which is unfortunate because it was the part of the project that we were most excited about.</p>
            </div>
        </div>
        <div class="panel panel-default" id="product-backlog">
            <div class="panel-heading"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Product Backlog</div>
            <div class="panel-body">
                <p>The following stories are scheduled for development in the future:</p>
                <ul>
                    <li>Continue run of existing experiments to gather more data on RSVP and Donate/Support variants</li>
                    <li>Implement experiments variants that lead to higher conversion</li>
                </ul>
                <p>All of these things are dependent on whether the simulated traffic will keep running while the site is up. We will probably also try and crack the CSS challenge and find inspiration from some of the work that we have seen in class.</p>
            </div>
        </div>
        <div class="panel panel-default" id="project-retrospective">
            <div class="panel-heading"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Project Retrospective</div>
            <div class="panel-body">
                <p>The project has been a great learning experience and these are some of the things we learned:</p>
                <ul>
                    <li>Constant communication is key.</li>
                    <li>As we have learned in class, building the capabilities of the team should take precedence over checking off product requirements.</li>
                    <li>Never, ever make the mistake of saying "it's just a few lines of code" especially when you don't even have an idea of what the code would look like.</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default" id="traffic-analysis">
            <div class="panel-heading"><span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Traffic Analysis</div>
            <div class="panel-body">
                <p>Based on our experiments, we have found the following to be optimal for user conversion:</p>
                <ul>
                    <li>Having RSVP in the events list increases (slightly) the number of pageviews. Having RSVP increased pageviews by 1% versus original.</li>
                    <li>The word Donate works better than Support in converting users from viewers to donors/supporters. Support variant led to 37% lower conversion versus Donate variant.</li>
                </ul>
                <p>The results of the RSVP experiment can be viewed here: <a href="http://screencast.com/t/KHuhpVLiUd">http://screencast.com/t/KHuhpVLiUd</a></p>
                <p>The results of the Donate/Support experiment can be viewed here: <a href="http://screencast.com/t/aoiqAkw8X3">http://screencast.com/t/aoiqAkw8X3</a></p>
            </div>
        </div>
    </body>
</html>
