<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>J-Cubed Project Status Report</title>
        body { padding-top: 70px; }
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                  <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">Team Members</span>
                    <span class="icon-bar">Burn Down Chart</span>
                    <span class="icon-bar">Sprint Completed Stories</span>
                    <span class="icon-bar">Product Backlog</span>
                  </button>-->
                  <a class="navbar-brand" href="#team-name">J-Cubed</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li onclick="changeClass()" class="" id="nav-tm"><a href="#members"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Team Members</a></li>
                    <li onclick="changeClass()" class="" id="nav-bdc"><a href="#burn-down-chart"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Burn Down Chart</a></li>
                    <li onclick="changeClass()" class="" id="nav-scs"><a href="#sprint-completed-stories"><span class="glyphicon glyphicon-ok-circle"></span> Sprint Completed Stories</a></li>
                    <li onclick="changeClass()" class="" id="nav-pb"><a href="#product-backlog"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Product Backlog</a></li>
                  </ul>
                </div>
            </div>
        </nav>
        <div class="page-header" id="team-name">
            <h1>J-Cubed</h1>
            <h4>Project Status Report</h4>
            <p>February 11, 2015</p>
        </div>
        <div class="panel panel-default" id="members">
            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Team Members</div>
            <div class="panel-body">
                <p>
                Ebreo, Jayson "Jaze": <a href="mailto:jaze.ebreo@yale.edu">jaze.ebreo@yale.edu</a>
                </p>
                <p>
                Jiang, Tao "Tony": <a href="mailto:tao.jiang@yale.edu">tao.jiang@yale.edu</a>
                </p>
                <p>
                Wong, Joanne: <a href="mailto:joanne.wong@yale.edu">joanne.wong@yale.edu</a>
                </p>
            </div>
        </div>
        <div class="panel panel-default" id="burn-down-chart">
            <div class="panel-heading"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Burn Down Chart</div>
            <div class="panel-body">
                <img src="http://s9.postimg.org/fcjcarbdb/burn_down_chart_sprint_2.png"/>
                <p>"Unburned" user stories/points in the chart reflect work that has not been merged due to problems in merging/using GIT.</p>
            </div>
        </div>
        <div class="panel panel-default" id="sprint-completed-stories">
            <div class="panel-heading"><span class="glyphicon glyphicon-ok-circle"></span> Sprint Completed Stories</div>
            <div class="panel-body">
                <p>The following stories have been completed as of Sprint 1:</p>
                <ul>
                    <li>About US page created (but not yet pushed to production)</li>
                    <li>Event detail page exists for each event (but not yet passing test)</li>
                    <li>Event title, image, location, date and time, and attendees to event detail page exist (but also not passing test)</li>
                    <li>User can submit their email for RSVP (but no validation yet)</li>
                    <li>Event creation validation now exists and passes all tests</li>
                </ul>
                <p>Most (if not all) of the project headstart that we had gained during the previous week are gone, as we used most of the time this week to squash bugs.</p>
                <p>We faltered in daily scrums. This is definitely a practice that we need to check ourselves with, especially since a lot of coordination is necessary now more than ever at this stage of the project.</p>
                <p>Team has not yet gotten its head around the project curveball. This will definitely require a lot of planning and working out of details (apart from the actual coding).</p>
            </div>
        </div>
        <div class="panel panel-default" id="product-backlog">
            <div class="panel-heading"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Product Backlog</div>
            <div class="panel-body">
                <p>The following stories are scheduled either for merging into the master branch or for development by Sprint 3:</p>
                <ul>
                    <li>FIX: Code to pass event detail page test #1</li>
                    <li>Allow Yale users to RSVP</li>
                    <li>Reject non-Yale RSVP</li>
                    <li>Submitting a new event successfully takes user to event detail page</li>
                    <li>Address class project curveballs</li>
                    <li>Make site more aesthetically pleasing</li>
                </ul>
                <p>Some tasks may require further elaboration/detailing in the next sprint planning.</p>
            </div>
        </div>
    </body>
</html>
